In [36]:
#importing the required libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [37]:
#loading the datset
df=pd.read_csv("Social_Network_Ads.csv")
df.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [38]:
#attributes in the dataframe
df.columns

Index(['Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [39]:
#datatypes of attributes
df.dtypes

Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

In [40]:
#shape of the dataset
df.shape   # 400 rows and 3 columns

(400, 3)

In [41]:
#creating the training and target variables
X=df.drop("Purchased",axis=1)
y=df[["Purchased"]]

In [42]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

In [43]:
# Fitting classifier to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [44]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [45]:
#these are the predicted purchase history of the trained feature columns
y_pred   #1 = purchased 0 = not purchased

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [58]:
#testing the model performance on the prediction

#checking if the model predicts correctly for combination age=51 and estimated salary = 23000
prediction=classifier.predict([[51,23000]])
print("predicted purchase details\nfor the given test combination of\nage and estimated salary  :", str(prediction))

#the model predicted correctly since result is same as in the dataset

predicted purchase details
for the given test combination of
age and estimated salary  : [1]

In [65]:
#predicting the purchase details for a new combination of age and estimated salary choosen randomly
prediction=classifier.predict([[33,2900]])
print("predicted purchase details\nfor the given test combination of\nage and estimated salary  :", str(prediction))

#the output says the person with age 33 and estimated salary has not purchased the product

predicted purchase details
for the given test combination of
age and estimated salary  : [0]

In [47]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[51,  7],
       [ 7, 35]], dtype=int64)

In [48]:
#predicting the model accuracy
from sklearn import metrics
print("accuracy",metrics.accuracy_score(y_test,y_pred))

accuracy 0.86

In [69]:
test_pred= classifier.predict(X_test)
metrics.accuracy_score(test_pred,y_pred)

1.0

In [71]:
print(metrics.classification_report(y_test,test_pred))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88        58
           1       0.83      0.83      0.83        42

    accuracy                           0.86       100
   macro avg       0.86      0.86      0.86       100
weighted avg       0.86      0.86      0.86       100